@import '../../../../styles/base';

.grades-table {
  margin-left: 0;
  text-align: left;
  font-size: .875rem;
}

.ReactTable {
  border: none;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  font-weight: 600;
  color: $app-blue-2;
  border-bottom: 2px solid #666;
}

.ReactTable .rt-thead .rt-th.-cursor-pointer:hover {
  background: #f0f0f0;
}

.ReactTable .rt-thead .rt-td, .ReactTable .rt-thead .rt-th {
  border-right: none;
}

.ReactTable .rt-tbody .rt-td {
  border-right: none;
}


.ReactTable .rt-tbody .rt-td:last-child {
  border-right: none;
}

.ReactTable .rt-td {
  cursor: pointer;
}

.grades-table__phase-2-title {
  text-align: center;
  font-weight: 600;
  color: $app-blue-2;
  margin-bottom: 0;
  padding-top: .39rem;
  padding-bottom: .3rem;
  border-bottom: 2px solid #666;
}

.grades-table__phase-2-row {
  border-bottom: 1px solid #eee;
  padding: .345rem;
  height: 36px;
}

.grades-table__phase-2-row:last-of-type {
  border-bottom: none;
  margin-bottom: 1.5rem;
}

.grades-table__launch-mission-button, .grades-table__edit-mission-button {
  font-weight: 500;
  width: 100%;
  color: #fff;
  font-size: .85rem;
  padding: .35rem 1rem;
  background: $app-blue-2;
  margin-bottom: 0;
}

.grades-table__launch-mission-button:hover, .grades-table__edit-mission-button:hover {
  background: lighten($app-blue-2, 10%);
}

.grades-table__edit-mission-dates {
  font-size: .65rem;  // Need to make this fit on one line...
  padding: .1rem 0;
  cursor: pointer;
  margin-bottom: 0;
}

.grades-table__edit-mission-dates:hover {
  color: $app-blue-2;
}

// .grades-table__phase-2-row {
//   height: 1.5rem;
// }
