
.question-result {
    padding: 1em;
    box-shadow: 0 0 1px 1px rgba(#000, .3);
    margin-bottom: 1.5rem;
}

.question-statistics {
  text-align: left;
  font-size: .875rem;
}

.question-statistics__students-list {
  font-size: .875em;
  margin-bottom: 1.125rem;
}

.students-list__item:not(:last-child)::after {
  content: ', '
}

.question-result__question-card {
  font-size: .875rem;
}

.spacing {
  margin-left: 0.35em;
}
