

.question-result:not(:last-of-type) {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}

.question-statistics {
  text-align: left;
  font-size: .875rem;
  margin-top: 1.125rem;
}

.question-statistics__students-list {
  font-size: .875em;
  margin-bottom: .125rem;
}

.students-list__item:not(:last-child)::after {
  content: ', '
}

.question-result__question-card {
  font-size: .875rem;
}

.spacing {
  margin-left: 0.35em;
}
