

.question-result:not(:last-of-type) {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}

.question-statistics {
  text-align: left;
  font-size: .875rem;
  margin-bottom: .125rem;
  margin-right: 1rem;
}

.question-statistics p {
  margin-bottom: 1.125rem;
}

.question-statistics .students-list {
  margin-bottom: 1.125rem;
  font-size: .875em;
}

.question-result__question-card {
  font-size: .875rem;
}

.students-list__item {
  display: block;
}

.expand-collapse-button.small {
  min-width: auto;
  width: auto;
  font-size: .875em;
  padding-left: 1em;
  padding-right: 1em;
}
