@import '../../../styles/base';

.mission-list__item {
  border-left: 3px solid transparent;
}

.mission-list__item {
  border-color: $app-blue-dark;
}

.create-mission-button {
  margin-bottom: 1.5rem;
}

.confirm-delete-input {
  width: 100%;
  margin-bottom: 1em;
  font-size: .875rem;
}
