@import '../../styles/base';


.nav-bar {
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  background-color: $app-blue-dark;
}

.app-title {
  margin-top: 0;
  margin-left: 1em;
  font-size: 1.25rem;
  text-align: left;
  color: #fff;
}


.fbw-name {
  font-weight: 800;
  margin-right: .25em;
}

.app-name {
  font-weight: 300;
}

.guide-link {
  color: #fff;
  margin-right: 2em;
  font-size: .875rem;
}

a.guide-link:hover {
  color: #fff;
  opacity: .8;
}

.username {
  color: #fff;
  margin-bottom: 0;
}
