

.grades-list {
  margin-left: 0;
  text-align: left;
  font-size: .875rem;
}

.grades-list li:nth-child(even) {
  background: #f8f8f8;
}

.grades-list li {
  padding: .5em 1em;
}

.grades-list li p {
  margin-bottom: 0;
}
