
@import '../../../styles/base';

.results-view {
  margin-bottom: 1.5rem;
}

.outcome-text {
  margin-bottom: 0;
  font-size: .875rem;
  text-align: left;
}

.summary-bar {
  background: #f8f8f8;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

.summary__mission-name {
  font-size: .875rem;
  line-height: 1.35;
  margin-bottom: 0;
  text-align: left;
  font-weight: 600;
  color: #444;
  letter-spacing: -.5px;
  margin-right: 2rem;
}

.summary__mission-name-type {
  font-weight: 300;
  margin-left: 5px;
}

.summary-blurb {
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 2rem;
}

.summary__number {
  font-size: 2rem;
  font-weight: 500;
  margin-right: .2em;
  margin-bottom: 0;
  color: $app-blue-dark;
}

.summary__number.warning-color {
  color: $app-red;
}

.summary__text {
  text-align: left;
  margin-bottom: 0rem;
  color: #666;
  line-height: .9;
  font-size: .875rem;
  max-width: 4rem;
}

.questions-section {
  margin-top: 1.5rem;
}

.expand-collapse-button {
  line-height: 1.3;
  min-width: 6rem;
  max-width: 20rem;
  font-size: .875rem;
  margin-right: 1rem;
  margin-left: auto;
  margin-bottom: 0;
  border: 1px solid #444;
  border-radius: 3px;
}

.expand-collapse-button:hover {
  opacity: .8;
}

.student-summary {
  font-size: .875rem;
  text-align: left;
}

.student-summary__collection {
  margin-right: 1em;
  margin-bottom: 1.5rem;
}

.student-summary__collection__item {
  margin-bottom: .125rem;
}
