
@import '../../../../styles/base';


.carousel-container {
  padding: .75rem 0 .0 1rem;
  background: #fafafa;
  overflow-x: auto;
  flex-wrap: nowrap;
  border-bottom: 1px solid #ccc;
}

.carousel {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
}

.carousel-label {
  margin-right: 1rem;
  width: 6rem;
  color: #555;
  font-size: .875rem;
  text-align: left;
}

.carousel-thumb {
  margin-right: 1.5rem;
  font-size: .875rem;
  padding-bottom: calc(.75rem - 5px);
  margin-bottom: -1px;
  border-bottom: 4px solid transparent;
}

.carousel-thumb:hover {
  opacity: .8;
}

.carousel-thumb__text {
  color: #5f5f5f;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
}

.carousel-thumb--directive {
  width: 16rem;
}

.carousel-thumb.is-active {
  cursor: default;
  border-bottom: 4px solid $app-blue-dark;
}

.carousel-thumb.is-active:hover {
  opacity: 1;
}

.carousel-thumb.is-active .carousel-thumb__text {
  color: $app-blue-dark;
}

// ===== old
//
// .carousel-thumb:hover {
//   background: #fff;
// }
//


// ===========
.directive-carousel {
  border-top: 1px solid #ccc;
}
