@import "../../styles/base";

.side-bar {
  text-align: left;
  font-size: .875rem;
}

.create-mission-button {
  display: block;
  margin-right: 0;
  margin-left: auto;
}

.create-mission-button:hover {
  background-color: lighten($app-blue-dark, .1)
}

.mission-buttons {
  margin-top: 1.125rem;
}
