
@import '../../../styles/base';


.outcome-text {
  margin-bottom: 0;
  font-size: .875rem;
  text-align: left;
}

.summary-bar {
  background: #f8f8f8;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
}

.summary__mission-name {

}

.summary-blurb {
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 2rem;
}

.summary__number {
  font-size: 2rem;
  font-weight: 500;
  margin-right: .2em;
  margin-bottom: 0;
  color: $app-blue-dark;
}

.summary__number.warning-color {
  color: $app-red;
}

.summary__text {
  text-align: left;
  margin-bottom: 0rem;
  color: #666;
  line-height: .9;
  font-size: .875rem;
  max-width: 4rem;
}

.questions-section {
  margin-top: 1.5rem;
}

// ===== common to all =====

.clickable-list {
  margin-left: 0;
  list-style: none;
}


.clickable-row__item {
  cursor: pointer;
  padding: .75rem 1em;
  border-bottom: 1px solid #ddd;
}

.clickable-row__item:hover {
  background: #f8f8f8;
}

.clickable-row__item.is-selected {
  cursor: default;
  background: #f8f8f8;
}

.clickable-row__item:last-of-type {
  border-bottom: 0;
}

.row-title {
  font-weight: 600;
}

.row-subtitle {
  color: #555;
}
