@import '../../../../styles/base';

.mission-result {
}

.results__section {
  padding: 1.5rem 2rem 0rem 2rem;
}

.results__section.dark {
  background: #333;
  color: #fff;
}

.results__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #555;
  margin-bottom: 1.5rem;
  font-weight: 700;
  border-bottom: 2px solid transparent;
  padding: .25em 1em;
  cursor: pointer;
}

.results__subtitle:hover {
  color: $app-blue-2;
}

.results__subtitle.is-active {
  border-color: $app-blue-2;
  color: $app-blue-2;
}


.results__section.dark .results__subtitle {
  color: #ddd;
}

.outcomes-action {
  // background: #333;
  // padding: 1.5rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.outcomes-action__prompt {
  color: #777;
  color: $app-red;
  font-weight: 300;
  font-size: 2rem;
}
