
@import '../../../styles/base';

.directives-list {
  margin-left: .5rem;
  text-align: left;
}

.directives-list__item {
  font-size: .875rem;
  margin-bottom: 1rem;
}

.directives-list__target-icon {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
}

.directives-list__item.non-target .outcome-text {
  margin-left: 3rem;
}

.select-directive-icon {
  font-size: 1.25em;
  font-family: sans-serif;
  margin-right: .5em;
}

.select-directive-icon.select {
  color: #324D5C;
}

.select-directive-icon.unselect {
  color: #E37B40;
}

.directives-list__item__module-label {
  font-size: .8rem;
  font-weight: 600;
  display: inline-block;
  padding: .05em .25em;
  border-radius: 2px;
  background: $app-blue-dark;
  color: #eee;
  // width: 10rem;
}

.outcome-text {
  flex: 1;
  text-align: left;
}

.preview-questions-button {
  margin-left: 1rem;
  background: transparent;
  color: #333;
  padding: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
  border-bottom: 1px solid #444;
  font-size: .8rem;
  margin-bottom: 0;
  padding: .2em;
}

.preview-questions-button:hover {
  background: transparent;
  color: #777;
  border-color: #aaa;
}

.add-remove-directive-button {
  cursor: pointer;
  margin-left: 1em;
  font-size: .875rem;
  text-decoration: underline;
}

.add-remove-directive-button.remove {
  color: $app-orange;
}

.add-remove-directive-button.remove:hover {
  opacity: .8;
}

.add-remove-directive-button.add {
  color: $app-blue-dark;
}

.add-remove-directive-button.add:hover {
  color: $app-blue-2;
}

.move-up-spacer {
  width: 3.4rem;
  margin-left: 1rem;
}

.move-down-spacer {
  width: 4.6rem;
  margin-left: 1rem;
}

.preview-question-card {
  box-shadow: 0 0 1px 1px rgba(#333, .3);
  padding: 1.5rem 0 0 1em;
  margin-top: 1.5rem;
}
